/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

/* HEADER */
.topo {
  background: #1f2937;
  color: white;
  padding: 12px;
  text-align: center;
}

.tela {
  display: none;
}

.tela.ativa {
  display: block;
}

.nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.762);
  justify-content: space-between;
}

.nav button {
  border-radius: 0px;
}

/* AÇÕES */
.acoes-jogadores {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
}

.inputNome {
  flex: 1;
  min-width: 150px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.valor {
  text-align: right;
  width: 30px;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#btn-adicionar-jogador {
  background: #2563eb;
  color: white;
}

#btn-fechar-mes {
  background: #374151;
  color: white;
}

button:hover {
  opacity: 0.85;
}

/* TABELA */
.tabela {
  width: 95%;
  margin: 0 auto 30px;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
}

.tabela th {
  background: #1f2937;
  color: white;
  padding: 10px;
  text-align: left;
}

.tabela td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.tabela tr:last-child td {
  border-bottom: none;
}

.tabela tbody tr:not(.linha-paga):not(.linha-pendente):hover {
  background: #f3f4f6;
}

/* INPUTS DENTRO DA TABELA */
.tabela input,
.tabela select {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* STATUS */
.status {
  font-weight: bold;
}

.linha-pendente {
  background-color: #ff3131;
}

.linha-pago {
  background-color: rgb(8, 215, 8);
  opacity: 0.5;
}

/* RESPONSIVO SIMPLES */
@media (max-width: 480px) {
  .tabela {
    font-size: 12px;
  }

  .tabela th,
  .tabela td {
    padding: 6px;
  }
}

/* ABA CAIXA */

.resumo-caixa {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
  text-align: center;
}

#saldo {
  font-size: 24px;
  font-weight: bold;
}

.acoes-caixa {
  display: flex;
  gap: 10px;
  margin: 0 20px 15px;
  justify-content: space-between;
}

#btn-entrada {
  background: #16a34a;
  color: white;
}

#btn-saida {
  background: #dc2626;
  color: white;
}

.lista {
  list-style: none;
  margin: 0 20px 30px;
  padding: 0;
}

.lista li {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal.ativo {
  display: flex;
}

.modal-conteudo {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-conteudo input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.modal-botoes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#modal-confirmar {
  background: #2563eb;
  color: white;
}

#modal-cancelar {
  background: #9ca3af;
  color: white;
}